results/
mcp/
.DS_Store
.env
.execution

cache/map_*
cache/scrape_*
cache/query_*
cache/search_*
cache/searchurls_*
cache/doc_*
cache/query_*

cache/chunks/*
cache/brave/*
cache/crawl/*
cache/map/*
cache/scrape/*
cache/query/*
cache/search/*
cache/original/*
cache/processed/*
cache/exact_url/*